
header.page-header {
    background-image: linear-gradient(120deg, #f03e3e6b, #f03e3ecb);
}


.project-name {
    font-style: italic;
}

.project-name, .project-tagline {
    color: #fff;
}

h1, h2, h3, h4, h5, h6, em {
    color: #f03e3e;
}

.site-footer-credits {
    opacity: 0.3;
}
